<section class="vh-100">
    <div class="container-fluid h-custom">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-md-9 col-lg-6 col-xl-5">
          <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
            class="img-fluid" alt="Sample image">
        </div>
        <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
          <form [formGroup]="loginForm">
            <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
              <p class="lead fw-normal mb-0 me-3">Sign in with</p>
              <a  type="button" href="https://www.facebook.com" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                <i class="fa fa-facebook-f"></i>
              </a>
  
              <a  type="button" href="https://www.google.com"  data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                <i class="fa fa-google"></i>
              </a>
  
              <a  type="button" href="https://www.github.com" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-floating mx-1">
                <i class="fa fa-github"></i>
              </a>
            </div>
  
            <div class="divider d-flex align-items-center my-4">
              <p class="text-center fw-bold mx-3 mb-0">Or</p>
            </div>
  
            <!-- Email input -->
            <div data-mdb-input-init class="form-outline mb-4" [class.error]="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')">
                <small *ngIf="loginForm.controls['email'].dirty && loginForm.hasError('required', 'email')" class="text-danger">*username/email is required</small>
              <input formControlName="email" type="email" id="form3Example3" class="form-control form-control-lg"
                placeholder="Enter a valid email address" />
              <label class="form-label" for="form3Example3">Email / Username</label>
            </div>
            
  
            <!-- Password input -->
            <div data-mdb-input-init class="form-outline mb-3" [class.error]="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')">
                <small *ngIf="loginForm.controls['password'].dirty && loginForm.hasError('required', 'password')" class="text-danger">*password is required</small>
              <input formControlName="password" [type]="type" id="form3Example4" class="form-control form-control-lg"
                placeholder="Enter password"  />  
                <!-- <span (click)="hideShowPass()" class="fa fa-eye-slash"></span> -->
              <label class="form-label" for="form3Example4">Password</label>
            </div>
          
  
            <div class="d-flex justify-content-between align-items-center">
              <!-- Checkbox -->
              <div class="form-check mb-0">
                <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                <label class="form-check-label" for="form2Example3">
                  Remember me
                </label>
              </div>
              <a type="button" class="text-body" data-toggle="modal" data-target="#exampleModalCenter">Forgot password?</a>
            </div>
  
            <!-- [disabled]="loginForm.invalid" -->
            <div class="text-center text-lg-start mt-4 pt-2">
              <button (click)="onSubmit()"  type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
              <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a href="#!"
                  class="link-danger" routerLink="/signup">Register</a></p>
            </div>
  
          </form>
        </div>
      </div>
    </div>
    <!-- <div
      class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-4 px-xl-5 bg-primary">
      
      <div class="text-white mb-3 mb-md-0">
        Copyright © 2020. All rights reserved.
      </div>
    
      <div>
        <a href="#!" class="text-white me-4">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="#!" class="text-white me-4">
          <i class="fa fa-google"></i>
        </a>
        <a href="#!" class="text-white">
          <i class="fa fa-linkedin"></i>
        </a>
      </div>
    </div> -->



<!-- Modal for forgot password-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Password Reset</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <h3 class="card-title text-center">Reset password</h3>
            
          <div class="card-text">
            <form>
              <div class="form-group">
                <label for="exampleInputEmail1">Enter your email address and we will send you a link to reset your password.</label>
                <input [(ngModel)]="resetPasswordEmail" name="resetPasswordEmail" (ngModelChange)="checkValidEmail($event)" type="email" class="form-control form-control-sm" placeholder="Enter your email address">
                <small *ngIf="!resetPasswordEmail" class="text-danger">Email is required*</small>
                <small *ngIf="!isValidEmail && resetPasswordEmail" class="text-danger">Email is Invalid*</small>
              </div>
            </form>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" id="closeBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" (click)="confirmToSend()" class="btn btn-primary">Send password reset email</button>
      </div>
    </div>
  </div>
</div>

  </section>